.contact-wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3rem;
}

@media screen and (min-width: 780px) {
  .contact-wrapper {
    display: flex;
    /* justify-content: flex-start; */
  }
}
