.topbar-left {
  display: flex;
  justify-content: flex-start;
}
.site-logo {
  width: 6rem;
  height: auto;
  padding: 0 0 0 0;
  justify-content: flex;
}
.icons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  display: block;
}
.icon-fb {
  padding-top: 25px;
  padding-left: 0.5rem;
  padding-right: 0.6rem;
  width: 3rem;
}
