.book {
  max-width: 50%;
  display: flex;
  margin: auto;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.subtitle {
  text-align: center;
  font-family: 'PreissigPoster';
}

.icon-basket {
  display: flex;
  cursor: pointer;
}
.btn-wrapper--basket {
  display: flex;
}
.margin--large {
  margin-top: 6rem;
}
.price {
  font-size: 2rem;
}
.heading--small {
  font-size: 1rem;
  color: #cb1477;
}
.extract {
  padding-left: 2rem;
}
@media screen and (min-width: 780px) {
  .book {
    float: left;
  }
  .container-book {
    display: flex;
  }
  .homepage .extract-text {
    text-align: justify;
  }
}
