.book {
  max-width: 50%;
  display: flex;
  margin: auto;
}
h2 {
  text-align: center;
}

.icon-basket {
  display: flex;
  width: 2rem;
  margin: auto;
  outline: 1px solid red;
  cursor: pointer;
}
.price {
  font-size: 2rem;
}

@media screen and (min-width: 780px) {
  .book {
  }
}
