.book {
  max-width: 50%;
  display: flex;
  margin: auto;
  /*  padding-right: 1rem; */
  margin-bottom: 3rem;
  margin-top: 2rem;
  box-shadow: 10px 10px 5px rgb(66, 65, 65);
  -moz-box-shadow: 10px 10px 5px rgb(66, 65, 65);
  -webkit-box-shadow: 10px 10px 5px rgb(66, 65, 65);
  -khtml-box-shadow: 10px 10px 5px rgb(66, 65, 65);
}
.subtitle {
  text-align: center;
  font-family: 'PreissigPoster';
}

.icon-basket {
  display: flex;
  cursor: pointer;
}
.btn-wrapper--basket {
  display: flex;
}
.margin--large {
  margin-top: 6rem;
}
.price {
  font-size: 2rem;
}
.heading--small {
  font-size: 1rem;
  color: #cb1477;
}
.extract {
  padding-left: 2rem;
}
.homepage .extract-text {
  text-align: justify;
}
.paragraph--pink {
  color: #cb1477;
  font-size: 1.2rem;
  padding-top: 1rem;
}
@media screen and (min-width: 780px) {
  .book {
    /* float: left; */
    max-width: 70%;
  }
  /* .container-book {
    display: flex;
  } */
  .homepage .extract-text {
    text-align: justify;
  }
}
@media screen and (min-width: 780px) {
  .book {
    max-width: 50%;
  }
}
