.link{
    font-family: Spoof,Helvetica,Arial,serif;
}
.section 
{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

main {
color: #1976a5;
}
.input{
     border-color: blue;
     border-radius: 100%;
 }
  
h2 {
    font-family: Spoof,Helvetica,Arial,serif;
    font-feature-settings: "zero","ss02","ss05";
    font-weight: 700;
    position: relative;
}

.pNapoveda {
 font-style: italic;
}
.mapa,
.relief
{
width: 100%;
}