.img-hradejov {
  display: flex;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 10px 10px 10px;
  position: relative;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
.intro-h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0rem;
  /*  text-align: center; */
  left: calc(50% / 2 - 2rem);
  z-index: 1;
}

.first {
  margin-top: 2rem;
  font-size: 1rem;
}
.second {
  font-size: 1.5rem;
  color: #cb1477;
}

.btn-buy {
  background-color: #fc765f;
  border-color: #fc765f;
  border: 2px solid #fc765f;
  color: #1976a5;
  font-weight: bold;
  margin: auto;
  border-radius: 50%;
}

@media screen and (min-width: 780px) {
  .img-hradejov {
    max-width: 60%;
  }
  .intro-h1 {
    font-size: 5rem;
  }
}
