.btn-choose {
  background-color: #e5b032;
  border-color: #e5b032;
  border: 2px solid #e5b032;
  color: #15594d;
}
@media screen and (min-width: 780px) {
  .container--columns {
    display: flex;
  }
}
