.btn-choose {
  background-color: #e5b032;
  border-color: #e5b032;
  border: 2px solid #e5b032;
  color: #1976a5;
  font-weight: bold;
  border-radius: 50%;
}
.icon-building,
.icon-book,
.icon-gift {
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.icon-book--bigger {
  height: 4rem;
  width: 5rem;
}
@media screen and (min-width: 780px) {
  .container--columns {
    display: flex;
    justify-content: space-evenly;
  }
}
