@font-face {
  font-family: 'PreissigPoster';
  src: local('PreissigPoster'),
    url('fonts/PreissigPoster.ttf') format('truetype'),
    url('fonts/PreissigPoster.eot') format('embedded-opentype'),
    url('fonts/PreissigPoster.woff') format('woff'),
    url('fonts/PreissigPoster.svg') format('svg');
}

html {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: 'PreissigPoster';
  min-width: 100%;
  min-height: 100%;
  letter-spacing: 1px;
}

*,
::before,
::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: white;
  /* color: #15594d; */
  color: #1976a5;
  /*  color: #268f90; */
}
