@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @font-face {
  font-family: 'PreissigPoster';
  src: local('PreissigPoster'),
    url('fonts/PreissigPoster.ttf') format('truetype'),
    url('fonts/PreissigPoster.eot') format('embedded-opentype'),
    url('fonts/PreissigPoster.woff') format('woff'),
    url('fonts/PreissigPoster.svg') format('svg');
} */

html {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'PreissigPoster'; */
  min-width: 100%;
  min-height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #b9f2f4;
  /* color: #15594d; */
  color: #1976a5;
}

.container,
header,
footer {
  /* padding-left: 1rem;
  padding-right: 1rem; */
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  max-width: 98%;
}
section {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
h1,
h2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container {
  position: relative;
}
.btn-wrapper {
  display: flex;
  padding-top: 2rem;
}
.btn-a-href {
  margin: auto;
  text-decoration: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 10rem;
  height: 6rem;
  border-radius: 30%;
  font-size: 1rem;
  cursor: pointer;
}
/*...styles for menu.....*/

.topbar {
  display: flex;
  max-width: 98%;
  padding: 0 0 1rem 0;
  min-height: 4rem; /* musi byt min-height, jinak text preteka*/
  justify-content: space-between;
  outline: 10px solid pink;
}
.topbar-left {
  display: flex;
}
/*..........styles for logo and icons...*/
.site-logo {
  max-width: 40%;
  width: 8rem;
  min-height: 4rem;
  padding: 0 0 1rem 0;
}
.icons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.icon-fb {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
/*..............styles for navigation....*/
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
  position: relative;
}

nav {
  width: 100%;
  padding: 0rem;
  background-color: #5fc2ba;
}

nav a {
  display: block;
  margin: 0.5rem;
  padding: 0.5rem;
  z-index: 1;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
  /*  color: #15594d; */
  color: #1976a5;
}
nav a:hover {
  border-bottom: 1px solid pink;
}
.nav-open {
  display: none;
}

.hamburger {
  display: block;
  position: absolute;
  width: 40px;
  height: 50px;
  right: 15px;
  top: calc(50% / 2);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  top: calc(50% / 2);
  /*top: 15px;
  /* otazka na kouce:  jak spany obratit, aby byly zarovnany z prave strany*/
  left: 0;
  right: 0;
  height: 5px;
  background-color: #1976a5;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  border-radius: 10px;
}

.hamburger span:nth-child(1) {
  width: 20px;
  transform: translateY(-250%);
}
.hamburger span:nth-child(2) {
  width: 30px;
}

.hamburger span:nth-child(3) {
  transform: translateY(250%);
}

.hamburger--open span:nth-child(2) {
  opacity: 0;
}

.hamburger--open span:nth-child(1) {
  transform: rotate(45deg);
  width: 40px;
}

.hamburger--open span:nth-child(3) {
  transform: rotate(-45deg);
}

@media screen and (min-width: 780px) {
  .topbar,
  .header,
  .container,
  footer {
    max-width: 80%;
  }
  .topbar-left {
    max-width: 20%;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin-top: 4rem;
  }
  nav {
    width: initial;
    max-width: 100%;
  }
  nav a {
    display: inline-block;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 1rem;
  }
  .nav-open {
    display: flex;
    padding-top: 0rem;
    align-items: center;
    align-content: center;
  }
  .hamburger {
    display: none;
  }
}

@media screen and (min-width: 980px) {
  .topbar,
  .header,
  .container,
  footer {
    max-width: 75%;
  }
  .topbar-left {
    max-width: 25%;
  }
  .navigation {
    max-width: 75%;
  }
}
